<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Doctor consult</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen class="ion-padding">
    <ion-text class="Consult-txt mb-2" color="black">
      <h1 class="Consult-txt ms-4"><img src="/assets/Vector.jpg" alt=""> Consult</h1>
    </ion-text>
    <img src="/assets/health-pics.jpg" alt="">

    <ion-text>
      <h3>1. Eat slowly</h3>
      <p> Did you know that eating too quickly can cause weight gain?</p>
      <p>According to research, faster eaters are more likely to be overweight, as compared to people who eat more
        slowly. In one study, it was also suggested that this is 115% more likely to happen in middle-aged women.</p>
      <p>As you eat, your body releases ‘fullness hormones’ that tell your brain you’ve eaten and should stop. However,
        as this process takes about 20 minutes, speedy eaters may consume too much food and only receive this signal
        later – which explains the ‘post-buffet bloat’ you may feel after a satisfying meal.</p>
    </ion-text>

    <ion-text>
      <h3>2. Drink more water</h3>
      <p>You may have heard of the saying to “drink 8 glasses of water a day”, yet not many may actually follow this,
        often
        choosing to count their total liquid intake instead – which usually includes sodas, coffee, and other beverages.
      </p>
      <p>Your body isn’t made up of soft drinks and beers, however. Depending on age, about 60% of the human body is
        made up of water. There are numerous benefits of drinking more water – it helps us to control our calorie
        intake, energises our muscles, keeps our kidneys healthy, and hydrates the skin.</p>
      <p>As you stay hydrated with water, you’ll also find yourself having fewer cravings for sugary or less healthy
        beverages.</p>
    </ion-text>

    <ion-text>
      <h3>3. Read nutrition labels</h3>
      <div class="mb-3">
        <img src="/assets/nutritionlabel.jpg" alt="">
      </div>
      <p>If weight loss is one of your health goals, make it a habit to read the nutritional labels on your foods during
        your grocery shopping.</p>
      <p>Look out for the total amount of calories a product contains, and not just for 1 serving (which is typically
        what’s stated on the label).</p>
      <p>Reading nutrition labels will also help you to avoid only reading marketing labels like “high in fibre”, “low
        fat” or “zero sugar”, as these labels may be misleading. While a product is “high in calcium”, it could also be
        high in sugar – a detail you may have missed if you hadn’t read the nutrition label.</p>
    </ion-text>

    <ion-text>
      <h3>4.Eat more fruits and vegetables</h3>
      <div class="mb-3">
        <img src="/assets/vegetables.jpg" alt="">
        <p>A health survey of more than 65,000 participants found that people who ate the most portions of fruits or
          vegetables (7 or more) each day had a 42% reduced risk of dying (from any cause), compared to individuals who
          ate less than one portion a day.</p>
        <p>However, you may want to choose more fresh produce, as it was found that frozen and canned fruit can also
          increase the risk of dying by 17%.</p>
        <p>Need a tip on how you can add more fruits and vegetables into your diet? Buy some cut fruit after lunch and
          bring it to your workplace. The next time you’re hungry, that fruit will be the closest and most convenient
          snack you’ll reach for.</p>
      </div>
      <p></p>
    </ion-text>

    <ion-text>
      <h3>5. Work out (at least) 3 times a week</h3>
      <p>According to Active Health (an initiative by the Singapore Sports Council), adults should engage in at least
        150 minutes of moderate to vigorous physical activity each week. The reality though, is that only 26% of
        Singaporeans do so.</p>
      <p>
        Hitting this goal doesn’t have to be difficult. You can try:

        <li>Do more of an activity you’re already doing</li>
        <li>Picking an activity you think you’ll enjoy doing, and start doing it</li>
      </p>
      <p>These can be small changes. For example, instead of walking with your dog, put on your running shoes and jog
        with your dog. And if you’re already running twice a week, add a third day to explore different routes at a
        relaxing, enjoyable pace.</p>
    </ion-text>
    <ion-text>
      <h3>6. Quit smoking</h3>
      <p>While legislation has placed disease-riddled images on cigarette boxes and eliminated tobacco advertising for
        decades, smoking is still a fairly common habit in Singapore. According to HealthHub, 6 Singaporeans die
        prematurely from smoking-related diseases every day.</p>
      <p>Quitting smoking can be challenging, but also one of the most life-changing decisions you make. Some strategies
        to overcome the addiction include exercise, support groups, relaxation techniques like breathing, or even
        nicotine replacement therapy.</p>
    </ion-text>
    <ion-text>
      <h3>7. Get a fitness tracker (and use it)</h3>
      <p>These days, fitness trackers are changing the way people live and work out. These intelligent wrist-based
        devices can track your heart rate and the distance of your run, and count the number of calories you burn during
        workouts.</p>
      <p>While the accuracy of fitness trackers (and smart watches) may have been questionable a few years ago, the
        accuracy, reliability and reputation of these devices have been said to have improved remarkably in recent
        years.</p>
    </ion-text>
    <ion-text>
      <h3>8. Sleep for 6 – 8 hours daily</h3>
      <div class="mb-2"><img src="/assets/sleepwell.jpg" alt=""></div>
      <p>Did you know that 6 – 8 is the recommended number of hours of sleep adults should get every night for better
        health? According to a paper on sleep duration and mortality, researchers also found that people who get less
        than 7 hours of sleep a night are 12% more likely to die prematurely.</p>
      <p>However, be careful to not oversleep, as it was also found that people who sleep more than 8 – 9 hours daily
        have a 30% added risk of dying prematurely.</p>
      <p>The conclusion? Go to sleep at a time that allows you to have 6 – 8 hours of rest, then wake up when the alarm
        rings – and not after hitting the snooze button several times!</p>
    </ion-text>
    <ion-text>
      <h3>9. Smile and laugh more</h3>
      <p>This is one of the simplest, yet more powerful changes you can make to improve your mental health.</p>
      <p>Why does this work? When we laugh, we breathe deeper and take in more air, which stimulates our heart, lungs
        and muscles. It also increases endorphins released by our brains, which positively influence our physiology and
        mood – automatically placing us into a better, happier state.</p>
      <p>The conclusion? Go to sleep at a time that allows you to have 6 – 8 hours of rest, then wake up when the alarm
        rings – and not after hitting the snooze button several times!</p>
      <p>So go ahead, smile often and inject more laughter into your days. Sometimes, laughter really can be the best
        medicine.</p>
    </ion-text>
    <ion-text>
      <h3>10. Keep a journal of daily wins</h3>
      <div class="mb-2"><img src="/assets/diary.jpg" alt=""></div>
      <p>Referencing a Harvard Business School professor in her TEDx talk on achieving success through small wins,
        educator Mehrnaz Bassiri says that keeping a daily diary of progress helps us to reflect on our days and record
        all the small achievements that would otherwise go unnoticed.</p>
      <p>This habit helps us to chronicle and celebrate our small wins, even on those frustrating days when we feel we
        haven’t accomplished much.</p>
      <p>These “wins” can be anything from making a healthy eating choice during lunch, reacting positively to a
        negative situation at work, or simply doing something that made you happy or inspired, for the first time.</p>
      <p>Remember, you can lead a healthier life by simply making small changes, one at a time. Start by picking a few
        of your favourite tips mentioned in this article and incorporating them into your daily routine!</p>
    </ion-text>
    <ion-button color="success" id="get-btn" expand="block" routerLink="/home">Back to Home page</ion-button>
  </ion-content>
</ion-app>
