<ion-app>
<ion-col>
  <ion-text class="Consult-txt mb-2" color="black">
    <h1 class="Consult-txt ms-4"><img src="/assets/Vector.jpg" alt=""> Consult</h1>
  </ion-text>
  <div class="mt-5 text-center"> <img src="/assets/slide2.jpg" alt=""></div>
  <ion-text>
    <p class="mt-5 mb-5 text-center">The start of a new decade brings with it new resolutions to improve one’s life, including a healthier lifestyle.
      Here are some practical health tips to help you start off towards healthy living in 2022.</p>
    <p class="text-center"><strong>Exercise is good for both body and mind.</strong>Indeed, physical activity is almost essential for good health and student success. Perhaps more important to students are the mental and psychological benefits: Stress reduction.</p>
  </ion-text>
  <div class="text-center mt-3">
    <ion-button color="success"id="nxt-btn" expand="block"  routerLink="/tips">Next</ion-button>
  </div>
</ion-col>
</ion-app>
