<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Doctor-consult
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <ion-grid>
    <ion-row>
      <!-- <ion-col>
        <div>11:30 PM</div>
      </ion-col> -->

      <!-- <ion-col>
        <div class="text-end">
          <ion-icon name="battery-half-outline" class="me-2"></ion-icon>
          <ion-icon name="bar-chart-outline" class="me-2"></ion-icon>
          <ion-icon name="wifi-outline" class="me-2"></ion-icon></div>
      </ion-col> -->
    </ion-row>
    <ion-col>
      <ion-text class="Consult-txt mb-2" color="black">

        <h1 class="Consult-txt text-center"><img src="/assets/Vector.jpg" alt="">Consult</h1>
      </ion-text>
      <div class="mt-3 text-center"> <img src="/assets/doctor-slide1.jpg" alt=""></div>
      <ion-col>
        <ion-text class="heading-txt" color="black">

          <h2 class="heading-txt text-center">Consult Specailist Doctors Securly And Privately</h2>

        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text class="text-center">
          <p>When running certain apps on Windows 10 desktop or Windows 10 Mobile, some
          characters display as a square or rectangular box, or as a box with a dot, question mark or “x” inside, while
          the same</p></ion-text>
      </ion-col>
      <div class="text-center">
      <ion-button color="success"id="get-btn" expand="block" routerLink="/get-started">Get Started</ion-button>
    </div>
    </ion-col>

  </ion-grid>

</ion-content>
